@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">SLT Gate Pass System</h1>
    <h2>GetUserDetails</h2>
    <h3>@ViewBag.name</h3>
    <h3>@ViewBag.sn</h3>
    <h3>@ViewBag.email</h3>
</div>
